* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dark-theme-bg-color {
  background-color: #000000;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home-image {
  width: 150px;
}
@media screen and (min-width: 768px) {
  .home-image {
    width: 200px;
  }
}
.home-heading {
  font-size: 32px;
  color: #1e293b;
}
@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 45px;
  }
}
.dark-theme-heading-color {
  color: #ffffff;
}
